<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.qcaudioad">
    <!-- 必要权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 如果有视频相关的广告且使用textureView播放，请务必添加，否则黑屏 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- 录音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 安装apk -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 信息流广告 -->
        <activity
            android:name=".ui.CustomInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />

        <!-- 自定义嵌入式广告(滚动页面) -->
        <activity
            android:name=".ui.CustomListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />

        <!-- 首听 -->
        <activity
            android:name=".ui.QCFirstVoiceActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />

        <!-- 纯音频无界面 -->
        <activity
            android:name=".ui.CustomVoiceActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />

        <!-- 贴片广告 -->
        <activity
            android:name=".ui.CustomRollAdActivity"
            android:screenOrientation="portrait" />

        <!-- 自定义模板 -->
        <activity
            android:name=".ui.CustomTemplateActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />

        <!-- 自动轮播 -->
        <activity
            android:name=".ui.CustomAutoRotationAdStyleActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.SettingActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="com.corpize.sdk.ivoice.utils.downloadinstaller.QcDownloadProvider"
            android:authorities="${applicationId}.QcDownloadProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/qc_paths"
                tools:replace="android:resource" />
        </provider>
    </application>

</manifest>